extends layout

block content
  h1 Expense Chain
  p.lead Expense tracker application based on block-chain.
  hr
  .row
    .col-sm-6
      h2 Introduction
      p Basic expense tracker application to demonstrate the basics of block-chain.
      p
    .col-sm-6
      h2 Technology used
      p NodeJs, MongoDB, Passport
      p
    .col-sm-6
      h2 Rest service
      p Restful service exposed to share the service platform with other application.
      p
    .col-sm-6
      h2 Front end technology
      p Angular 5 and NodeJs (Server side)
      p