  // ::ng-deep .mat-input-wrapper{
  //   width:100% !important;
  // }
  // ::ng-deep .mat-form-field{ width:500px !important; }
.mat-form-field{ width:500px !important; }

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}
